@model IEnumerable<App.Models.Feature>

@{
    ViewData["Title"] = "Index";
}

<h1>
    Feature
    <a class="btn btn-primary float-right" asp-action="Create">Create New</a>
</h1>

<div class="card">
    <div class="card-header">
        Filter By
        <button form="form-filter" class="float-right btn btn-primary btn-sm">Apply</button>
    </div>
    <div class="card-body row">
        <form action="?" id="form-filter"></form>
        <div class="col-lg-3">
            Category
            <br>
            <select asp-items="@ViewBag.Categories" class="form-control" name="categoryId" form="form-filter">
                <option selected value="">Choose ...</option>
            </select>
        </div>
    </div>
</div>
<br><br>
<div class="card">
    <div class="card-body px-0">
        <table class="table" id="features-table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VoteCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VoteCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $("#features-table").DataTable();
    </script>
}